## Table of Contents
* [Introduction](#chapter1)
    * [Section 1.1](#section_1_1)
        * [Sub Section 1.1.1](#sub_section_1_1_1)
* [Approach](#chapter2)
    * [Section 2.1](#section_2_1)
        * [Sub Section 2.1.1](#sub_section_2_1_1)
        * [Sub Section 2.1.2](#sub_section_2_1_2)
    * [Section 2.2](#section_2_2)
        * [Sub Section 2.2.1](#sub_section_2_2_1)
        * [Sub Section 2.2.2](#sub_section_2_2_2)
* [History of Presidential election](#chapter3)
    * [Presidential election result since 1999](#section_3_1)
    * [Vote turn out since 1999](#section_3_2)
        * [Vote turn out by geopolitical zones in 2003](#sub_section_3_2_1)
        * [Vote turn out by geopolitical zones in 2019](#sub_section_3_2_2)
* [Twitter Analysis](#chapter4)
    * [Section 4.1](#section_4_1)
        * [Sub Section 4.1.1](#sub_section_4_1_1)
        * [Sub Section 4.1.2](#sub_section_4_1_2)
    * [Section 4.2](#section_4_2)
        * [Sub Section 4.2.1](#sub_section_4_2_1)
        * [Sub Section 4.2.2](#sub_section_4_2_2)
* [Google Trends Analysis](#chapter5)
    * [Section 5.1](#section_5_1)
        * [Sub Section 5.1.1](#sub_section_5_1_1)
        * [Sub Section 5.1.2](#sub_section_5_1_2)
    * [Section 5.2](#section_5_2)
        * [Sub Section 5.2.1](#sub_section_5_2_1)
        * [Sub Section 5.2.2](#sub_section_5_2_2)
* [Conclusion](#chapter6)
    * [Section 3.1](#section_6_1)
        * [Sub Section 6.1.1](#sub_section_6_1_1)
        * [Sub Section 6.1.2](#sub_section_6_1_2)
    * [Section 6.2](#section_6_2)
        * [Sub Section 6.2.1](#sub_section_6_2_1)
        * [Sub Section 6.2.2](#sub_section_6_2_2)


## Introduction <a class="anchor" id="chapter1"></a>
Nigeria fully transitioned into democratic system of government in 1999 and has since conducted six general elections. However, the 2023 upcoming presidential elections looks to be the most anticipated and might just be the most keenly contested in its 23 years democatric history.

Since the conclusion of presidential primaries and the declaration of presidential aspirants across various parties, there has been a lot of comment, campaign on and off the social media, as nigeria have begin to declare support for their prefered candidate. Presidential candidates such as Atiku Abubakar(2 term Vice President of Nigeria), Peter Obi (Former Governor of Anambra State) and Bola Ahmed Tinubu(Former Governor of Lagos State ) have made headlines and seem to be the front runners for the apex seat in Nigeria.

We collected data from wikipedia, inec official website, twitter, e.t.c to explore the history of nigeria election and what people are saying about their preferred candidate.

## Approach <a class="anchor" id="chapter2"></a>
This is chapter number 2
### Section 2.1 <a class="anchor" id="section_2_1"></a
This is section 2.1
#### Section 2.1.1 <a class="anchor" id="sub_section_2_1_1"></a>
This is sub section 2.1.1
#### Section 2.1.2 <a class="anchor" id="sub_section_2_1_2"></a>
This is sub section 2.1.2
### Section 2.2 <a class="anchor" id="section_2_2"></a>
This is section 2.2
#### Section 2.2.1 <a class="anchor" id="sub_section_2_2_1"></a>
This is sub section 2.2.1
#### Section 2.2.2 <a class="anchor" id="sub_section_2_2_2"></a>
This is sub section 2.2.2

In [42]:
# import library

import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [ ]:
presidents = pd.read_excel('election.xlsx', sheet_name='winners')
overall = pd.read_excel('election.xlsx', sheet_name='overall')
result_2019 = pd.read_excel('election.xlsx', sheet_name='2019')
result_2015 = pd.read_excel('election.xlsx', sheet_name='2015')
result_2003 = pd.read_excel('election.xlsx', sheet_name='2003')

## History of Presidential Election <a class="anchor" id="chapter3"></a>
### objectives 

1. Election result since 1999
2. vote turn out since 1999
3. vote turnout by region in 2003 and 2019
4. Imapct of social media in 2015 and 2019 elections

In [10]:
presidents.head()

   Year               Name      vote  Percentage win  Party       Region
0  1999  Olusegun Obasanjo  18738154           0.6278   PDP   South west
1  2003  Olusegun Obasanjo  24456140           0.6194   PDP   South west
2  2007     Umaru Yar'Adua  24638063           0.6960   PDP   North west
3  2011  Goodluck Jonathan  22495187           0.5887   PDP  South south
4  2015   Muhammadu Buhari  15424921           0.5396   APC   North west

In [11]:
presidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             6 non-null      int64
 1   Name             6 non-null      object
 2   vote             6 non-null      int64
 3   Percentage win   6 non-null      float64
 4   Party            6 non-null      object
 5   Region           6 non-null      object
dtypes: float64(1), int64(2), object(3)
memory usage: 416.0+ bytes

In [12]:
presidents['Year']=presidents['Year'].astype(str)

#presidents['Year'] = pd.to_datetime(presidents['Year'])

In [13]:
presidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             6 non-null      object
 1   Name             6 non-null      object
 2   vote             6 non-null      int64
 3   Percentage win   6 non-null      float64
 4   Party            6 non-null      object
 5   Region           6 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 416.0+ bytes

### Presidential election result since 1999 <a class="anchor" id="section_3_1"></a>

In [14]:
presidents

   Year               Name      vote  Percentage win  Party       Region
0  1999  Olusegun Obasanjo  18738154           0.6278   PDP   South west
1  2003  Olusegun Obasanjo  24456140           0.6194   PDP   South west
2  2007     Umaru Yar'Adua  24638063           0.6960   PDP   North west
3  2011  Goodluck Jonathan  22495187           0.5887   PDP  South south
4  2015   Muhammadu Buhari  15424921           0.5396   APC   North west
5  2019   Muhammadu Buhari  15191847           0.5560   APC   North west

In [15]:
overall

,Year,Voter\nTurnout,Total\nvote,Registration,VAP\nTurnout,Voting\nage\npopulation,Population,Invalid\nvotes
0,2019,0.3475,28614190,82344107,0.2687,106490312,208679114,0.0451
1,2015,0.4365,29432083,67422005,0.3211,91669312,181562056,0.0287
2,2011,0.5368,39469484,73528040,0.4832,81691751,155215573,0.0319
3,2007,0.5749,35397517,61567036,0.4985,71004507,131859731,NaN
4,2003,0.6908,42018735,60823022,0.6533,64319246,129934911,0.0600
5,1999,0.5226,30280052,57938945,0.5736,52792781,108258359,0.0140

In [16]:
overall.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   6 non-null      int64
 1   Voter
Turnout          6 non-null      float64
 2   Total
vote             6 non-null      int64
 3   Registration           6 non-null      int64
 4   VAP
Turnout            6 non-null      float64
 5   Voting
age
population  6 non-null      int64
 6   Population             6 non-null      int64
 7   Invalid
votes          5 non-null      float64
dtypes: float64(3), int64(5)
memory usage: 512.0 bytes

In [17]:
overall['Year']=overall['Year'].astype(str)

#presidents['Year'] = pd.to_datetime(presidents['Year'])

### Vote turn out since 1999 <a class="anchor" id="section_3_2"></a>

In [18]:
overall

,Year,Voter\nTurnout,Total\nvote,Registration,VAP\nTurnout,Voting\nage\npopulation,Population,Invalid\nvotes
0,2019,0.3475,28614190,82344107,0.2687,106490312,208679114,0.0451
1,2015,0.4365,29432083,67422005,0.3211,91669312,181562056,0.0287
2,2011,0.5368,39469484,73528040,0.4832,81691751,155215573,0.0319
3,2007,0.5749,35397517,61567036,0.4985,71004507,131859731,NaN
4,2003,0.6908,42018735,60823022,0.6533,64319246,129934911,0.0600
5,1999,0.5226,30280052,57938945,0.5736,52792781,108258359,0.0140

The highest turn out of voters was in 2003 while the lowest turn out was in 2019. Lets dig deeper and see the turn out by geopolitical zones in 2003 and 2019

In [23]:
#for season of the year
state = list(result_2003['State'])
zone = ['South east', 'North east', 'South south', 'South east', 'North east', 'South south', 'North central', 'North east',
         'South south', 'South south', 'South east', 'South south', 'South west', 'South east', 'North east', 'South east',
         'North west', 'North west', 'North west', 'North west', 'North west', 'North central', 'North central',
         'South west', 'North central', 'North central', 'South west', 'South west', 'South west', 'South west',
         'North central', 'South south', 'North west', 'North east', 'North east', 'North west', 'North central']
#map each months to its corresponding season
state_to_zone = dict(zip(state, zone))         
result_2003['zone'] = result_2003['State'].map(state_to_zone)

In [24]:
result_2003

,State,Registered Voters,accredited votes,valid votes,Buhari,Obasanjo,Ojukwu,others,vote turn out,invalid percentage,zone
0,Abia,1285428,769167,748034,84305,386748,260899,16082,0.598374,0.598374,South east
1,Adamawa,1280204,994033,955847,285151,660780,2352,7564,0.776465,0.776465,North east
2,Akwa Ibom,1624495,1308326,1292395,162542,1084574,1077,44202,0.805374,0.805374,South south
3,Anambra,1859795,897245,862193,79476,466866,279378,36473,0.482443,0.482443,South east
4,Bauchi,2130557,1739506,1680542,1043442,617291,1678,18131,0.816456,0.816456,North east
5,Bayelsa,765472,742917,738165,18344,708312,3,11506,0.970535,0.970535,South south
6,Benue,1755528,1248897,1213843,494804,662422,6731,49886,0.711408,0.711408,North central
7,Borno,2156019,1336480,1120152,727595,380875,3549,8133,0.619883,0.619883,North east
8,Cross River,1289192,1238175,1233321,11624,1207675,2112,11910,0.960427,0.960427,South south
9,Delta,1607337,1171867,1142622,27492,1072527,15062,27541,0.729074,0.729074,South south
10,Ebonyi,1002771,807767,796626,16308,752823,20525,6970,0.805535,0.805535,South east
11,Edo,1432891,1118322,1106812,109401,979775,2247,15389,0.780466,0.780466,South south
12,Ekiti,981753,424056,325881,7500,301185,1300,15896,0.431938,0.431938,South west
13,Enugu,1479542,1144887,1126945,18987,897721,177050,33187,0.773812,0.773812,South east
14,Gombe,1263287,1010175,976136,516081,452328,1601,6126,0.799640,0.799640,North east
15,Imo,1630494,1052885,1016481,53983,656861,281114,24523,0.645746,0.645746,South east
16,Jigawa,1636657,1147952,1101909,885505,202502,2136,11766,0.701400,0.701400,North west
17,Kaduna,2620999,2192248,1918365,870454,1025347,7800,14764,0.836417,0.836417,North west
18,Kano,4000430,2339792,2172182,1628085,492755,10229,41113,0.584885,0.584885,North west
19,Katsina,2567245,1711212,1653161,1259789,380914,2928,9530,0.666556,0.666556,North west
20,Kebbi,1343549,879826,815219,529512,272564,3888,9255,0.654852,0.654852,North west
21,Kogi,1158343,898692,863989,314494,528778,2275,18442,0.775843,0.775843,North central
22,Kwara,995882,624695,574369,170325,390800,2293,10951,0.627278,0.627278,North central
23,Lagos,4558216,1939191,1628748,116510,1129521,134764,247953,0.425428,0.425428,South west
24,Nassarawa,852626,741289,729266,244005,470936,1488,12837,0.869419,0.869419,North central
25,Niger,1607730,1052789,983206,390103,486621,11849,94633,0.654829,0.654829,North central
26,Ogun,1576875,1365367,1361251,680,1360170,27,374,0.865869,0.865869,South west
27,Ondo,1504181,995084,888863,31994,840988,4180,11691,0.661545,0.661545,South west
28,Osun,1367627,783914,611593,14369,582089,1424,13711,0.573193,0.573193,South west
29,Oyo,2209953,1083806,882571,25112,828725,4519,24215,0.490420,0.490420,South west
30,Plateau,1391594,1120931,1050370,324566,706432,6362,13010,0.805501,0.805501,North central
31,Rivers,2272238,2171215,2160133,42346,2003521,5964,108302,0.955540,0.955540,South south
32,Sokoto,1476691,1017849,929085,681153,232258,6869,8805,0.689277,0.689277,North west
33,Taraba,1026950,923603,906069,198023,694527,1179,12340,0.899365,0.899365,North east
34,Yobe,966749,643388,599131,383583,206984,3522,5042,0.665517,0.665517,North east
35,Zamfara,1515622,1106567,1053851,843159,200702,4590,5400,0.730108,0.730108,North west
36,FCT,628100,274620,261163,99220,130243,22481,9219,0.437223,0.437223,North central

In [25]:
result_2003['zone'].unique()

array(['South east', 'North east', 'South south', 'North central',
       'South west', 'North west'], dtype=object)

In [29]:
result_2003.columns

Index(['State', 'Registered Voters ', 'accredited votes ', 'valid votes',
       'Buhari', 'Obasanjo', 'Ojukwu', 'others', 'vote turn out ',
       'invalid percentage ', 'zone'],
      dtype='object')

#### Vote turn out by geopolitical zones in 2003 <a class="anchor" id="sub_section_3_2_1"></a>

In [40]:
print(result_2003.groupby('zone').mean()[['vote turn out ', 'valid votes']])
#print(result_2003.groupby('zone').mean()['valid votes'])

               vote turn out    valid votes
zone
North central        0.697357  8.108866e+05
North east           0.762888  1.039646e+06
North west           0.694785  1.377682e+06
South east           0.661182  9.100558e+05
South south          0.866903  1.278908e+06
South west           0.574732  9.498178e+05

Despite having a major presidential candidate from its region,(Olusegun Obasanjo), south west had the lowest vote turn out, followed by the south east

In [35]:
#for season of the year
state = list(result_2019['State'])
zone = ['South east', 'North east', 'South south', 'South east', 'North east', 'South south', 'North central', 'North east',
         'South south', 'South south', 'South east', 'South south', 'South west', 'South east', 'North east', 'South east',
         'North west', 'North west', 'North west', 'North west', 'North west', 'North central', 'North central',
         'South west', 'North central', 'North central', 'South west', 'South west', 'South west', 'South west',
         'North central', 'South south', 'North west', 'North east', 'North east', 'North west', 'North central']
#map each months to its corresponding season
state_to_zone = dict(zip(state, zone))         
result_2019['zone'] = result_2019['State'].map(state_to_zone)

#### Vote turn out by geopolitical zones in 2019<a class="anchor" id="sub_section_3_2_2"></a>

In [41]:
print(result_2019.groupby('zone').mean()[['vote turn out ', 'valid votes']])
#print(result_2019.groupby('zone').mean()['valid votes'])

               vote turn out    valid votes
zone
North central        0.364775  6.573033e+05
North east           0.434200  7.636787e+05
North west           0.456349  1.203341e+06
South east           0.244383  4.441512e+05
South south          0.300148  5.591802e+05
South west           0.324726  6.903603e+05

The turn out in all southern zones is extremely low, particulary in the south east. will the narative change now that south east have a major candidate

## Twitter Analysis <a class="anchor" id="chapter4"></a>
This is chapter number 4
### Section 4.1 <a class="anchor" id="section_4_1"></a>
This is section 4.1
#### Section 4.1.1 <a class="anchor" id="sub_section_4_1_1"></a>
This is sub section 4.1.1
#### Section 4.1.2 <a class="anchor" id="sub_section_4_1_2"></a>
This is sub section 4.1.2
### Section 4.2 <a class="anchor" id="section_4_2"></a>
This is section 4.2
#### Section 4.2.1 <a class="anchor" id="sub_section_4_2_1"></a>
This is sub section 4.2.1
#### Section 4.2.2 <a class="anchor" id="sub_section_4_2_2"></a>
This is sub section 4.2.2

## Google Trends Analysis <a class="anchor" id="chapter5"></a>
This is chapter number 5
### Section 5.1 <a class="anchor" id="section_5_1"></a>
This is section 5.1
#### Section 5.1.1 <a class="anchor" id="sub_section_5_1_1"></a>
This is sub section 5.1.1
#### Section 5.1.2 <a class="anchor" id="sub_section_5_1_2"></a>
This is sub section 5.1.2
### Section 5.2 <a class="anchor" id="section_5_2"></a>
This is section 5.2
#### Section 5.2.1 <a class="anchor" id="sub_section_5_2_1"></a>
This is sub section 5.2.1
#### Section 5.2.2 <a class="anchor" id="sub_section_5_2_2"></a>
This is sub section 5.2.2

## Conclusion <a class="anchor" id="chapter6"></a>
This is chapter number 6
### Section 6.1 <a class="anchor" id="section_6_1"></a>
This is section 6.1
#### Section 6.1.1 <a class="anchor" id="sub_section_6_1_1"></a>
This is sub section 6.1.1
#### Section 6.1.2 <a class="anchor" id="sub_section_6_1_2"></a>
This is sub section 6.1.2
### Section 6.2 <a class="anchor" id="section_6_2"></a>
This is section 6.2
#### Section 6.2.1 <a class="anchor" id="sub_section_6_2_1"></a>
This is sub section 6.2.1
#### Section 6.2.2 <a class="anchor" id="sub_section_6_2_2"></a>
This is sub section 6.2.2